<table>
  <thead>
    <th style="border: 1px solid #000;">image</th>
    <th style="border: 1px solid #000;">name</th>
    <th style="border: 1px solid #000;">description</th>
    <th style="border: 1px solid #000;">rating</th>
    <th style="border: 1px solid #000;">review</th>
  </thead>
  <tbody>
    {{#each box}}
      <tr>
        <td style="border: 1px solid #000;"><img src="{{image}}"></td>
        <td style="border: 1px solid #000;">{{name}}</td>
        <td style="border: 1px solid #000;">{{description}}</td>
        <td style="border: 1px solid #000;">{{rating}}</td>
        <td style="border: 1px solid #000;">{{review}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>