 <table>
  <thead>
    <th style="border: 1px solid #000;">image</th>
    <th style="border: 1px solid #000;">name</th>
    <th style="border: 1px solid #000;">description</th>
    <th style="border: 1px solid #000;">rating</th>
  </thead>
  <tbody>
    {{#each boxes}}
      <tr>
        <td style="border: 1px solid #000;"><a href="/box"><img src="{{image}}" width="100"  height="100"></a></td>
        <td style="border: 1px solid #000;"><a href="/box">{{name}}</a></td>
        <td style="border: 1px solid #000;">{{description}}</td>
        <td style="border: 1px solid #000;">{{rating}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>