<div style="width:100%;display: flex;align-items:center;flex-direction:column">
	<h1>Submeet Boxes</h1>
		<ul style="list-style: none;font-size:24px;align-self:flex-start">
		 	<li><a href="/boxes">Boxes</a></li>
		</ul>
	</div>
{{> footer}}
