<div>
	{% for k, v in pairs(items) do %}
		<li><b>{{v["name"]}}</b> located at {{v["geo"]}}, and supported boxes types: 
			{% for kk, z in pairs(v["boxesTypes"]) do %}
			{{z}} 
			{% end %}
		</li>
	{% end %}
</div>
 